<div style="min-height: 50em" class="comments">
  <div class="row">
    <div class=" buy2">
      <li><%= link_to 'Назад' , category_products_path(@product.category_id) %></li>
    </div>
  </div>

  <div class="row">
    <div class='col-md-4'>
      <br>
      <%= image_tag(@product.image_url, class: 'image_prod') if @product.image? %>
    </div>
    <div class="col-md-8">
      <div>
        <h2 class="text-center"> <%= @product.name %> </h2>
      </div>
      <div>
        <h3>Ингредиенты</h3>
        <p class="ingredients">
          <%= @product.ingredients %>
        <p>
      </div>
      <div class="row rezalt">
        <div class="col-md-3">
          <h3>Белков</h3>
          <p><%= @product.proteins %> г.</p>
        </div>
        <div class="col-md-3">
          <h3>Жиров</h3>
          <p><%= @product.grease %> г.</p>
        </div>
        <div class="col-md-3">
          <h3>Углеводов</h3>
          <p><%= @product.carbohydrates %> г.</p>
        </div>
        <div class="col-md-3">
          <h3>Колорий</h3>
          <p><%= @product.calories %> г.</p>
        </div>
      </div>
      <div class="row rezalt">
        <div class="col-md-offset-8 col-md-4 ">
          <h2>Стоимость</h2>
          <p class="price"><%= @product.price %> руб.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <% @one.each do |comment| %>
        <div class="col-md-11 all_comments" >
          <div class="col-md-12 " >
            <div class="row name_rating">
              <div class="col-md-2">
                <h4 style="color: crimson"><%= comment.name %></h4>
              </div>
              <div class="col-md-4 person_rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <h5><%= comment.created_at.asctime%> </h5>
          </div>
        <div class="col-md-12" >
        <%= comment.comment %>
        </div>
        </div>
      <br>
    <% end %>
  </div>


  <div class="col-md-5 col-md-offset-4 form_for_comments">
      <%= simple_form_for [ @product, @comments], :url => product_comments_path, :method => :post do |f| %>
      <h3>Введите ваш отзыв:</h3>
      <p>
        <%= f.input :name, as: :string, :label=>'Имя' %>
      </p>
      <p>
        <%= f.input :comment, as: :text, :label=>'Отзыв'  %>
      </p>
      <div class="rating">
        <h4>Оцените блюдо</h4>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="save_comment">
        <%= f.submit 'Save', :class => 'btn btn-warning' %>
      </div>
  <% end %>
  </div>
</div>