<div style="min-height: 40em">
<hr>
<% @order.each do |order| %>
    <div class="row">
      <div class='col-xs-4'>
        <%= image_tag(order.product.image_url, class: 'image_prod') %>
      </div>
      <div class="col-xs-8">
        <div>
          <h2 class="text-center" style = "font-style: italic"> <%= order.product.name %> </h2>
        </div>
        <br>
        <div class="col-xs-3">
          <h5 class="text-center">Цена</h5>
          <p class="text-center" style = "font-style: italic"><%= order.product.price %> руб.</p>
        </div>
        <div class="col-xs-3">
          <h5 class="text-center">Количество</h5>
          <p class="text-center" style = "font-style: italic"><%= order.product.amount %></p>
        </div>
        <div class="col-xs-3">
          <h5 class="text-center">Итого</h5>
          <p class="text-center" style = "font-style: italic"><%= order.product.amount*order.product.price %> руб.</p>
        </div>
        <div class="col-xs-3">
          <h5 class="text-center">Статус</h5>
          <p class="text-center" style = "font-style: italic"><%= order.status %></p>
        </div>
        <hr>
      </div>
    </div>
    <hr>
<% end %>
</div>