<div class="row">
  <div class = 'categories col-md-2' >
    <ul>
      <li class="namecategories">Категогрии</li>
      <hr>
      <% @category.each do |category| %>
      <a href = '#<%category.name%>'><li><%= category.name %>
          <% if user_signed_in? %>
          <% if current_user.admin? %>
          <br>
            <%= link_to 'Update', category_path(category), :class => 'buttons_change' %>

            <%= link_to 'Destroy', category_path(category), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'buttons_change' %>

          <br>
          <% end %>
          <% end %>
        <% end %>
      </li></a>
    </ul>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
               <%= link_to 'New category', new_category_path %>

<!--            <button class="bottom-aligned buy">-->
              <%#= link_to 'Скачать данные в Excel', download_index_path(category_id: @category_id, format: 'xls') %>
<!--            </button>-->
<!--            <button class="bottom-aligned buy">-->
              <%#= link_to 'Скачать данные в csv', download_index_path(category_id: @category_id, format: 'csv') %>
<!--            </button>-->
<!--            <h2>Импортировать продукты</h2>-->
<!--            <div class="col-xs-1"></div>-->
<!--            <div class="col-xs-4">-->
              <%#= form_tag import_products_path(category_id: @category_id), multipart: true do %>
                <%#= file_field_tag :file %>
<!--                <br>-->
                <%#= submit_tag 'Import' %>
              <%# end %>
<!--              <br>-->
<!--            </div>-->
      <% end %>
    <% end %>
  </div>
  <div class="formForCountPerson">
    <span class="close">&times;</span>
    <h5>Введите количество порций</h5>
    <input type="number">
    <button class="btn btn-warning">OK</button>
  </div>
  <div class="dishes col-md-10">
    <div class="row">
      <div class="col-md-6">
        <label class="container_checkbox ">Только вегетарианские блюда
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="col-md-6">
        <%= link_to 'Подобрать заказ', root_path, :class => 'container_checkbox podobr_zakaz' %>
      </div>
    </div>
    <% @category.each do |category| %>
      <% @product = category.products %>
      <h3 class="categoriesName"><%= category.name %></h3>
      <div class="row rowfordish">
          <% @product.each do |product| %>
            <div class = 'carcasfordish col-md-4'>
              <div class = 'dish '>
                <%= image_tag(product.image_url, class: 'image_prod') if product.image? %>
                <h3 class="name-dish"><%= product.name %></h3>
                <p class="ingredients"><%= product.ingredients %></p>
                <div class="row namecharacteristic">
                  <div class="col-md-6"><p>Жиры</p></div>
                  <div class="col-md-6"><p>Белки</p></div>
                </div>
                <div class="row characteristic">
                  <div class="col-md-6"><%= product.grease %> г.</div>
                  <div class="col-md-6 "><%= product.proteins %> г.</div>
                </div>
                <div class="row namecharacteristic">
                  <div class="col-md-6"><p>Углеводы</p></div>
                  <div class="col-md-6"><p>Каллории</p></div>
                </div>
                <div class="row characteristic">
                  <div class="col-md-6 "><%= product.carbohydrates %> г.</div>
                  <div class="col-md-6 "><%= product.calories %> г.</div>
                </div>
                <div class="price">
                <h4><%= product.price %> руб.</h4>
                </div>
                <button class="btn btn-warning"><%= link_to 'В заказ', new_product_order_path(product) %></button>
                <% if user_signed_in? %>
                  <% if current_user.admin? %>
                      <button class="btn btn-dark">
                        <%= link_to 'Update', edit_category_product_path(category, product) %>
                      </button>
                      <button class='btn btn-dark'>
                        <%= link_to 'Destroy', category_product_path(category, product), method: :delete, data: {confirm: 'Are you sure?'} %>
                      </button>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
      </div>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
            <button class="btn btn-warning new_product">
              <%= link_to 'New product', new_category_product_path(category.id) %>
            </button>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>
