<div style="min-height: 40em" class="zakaz">
  <h1>Заказ</h1>
  <hr>
  <% sum = 0.0 %>
  <% sum_one = 0.0  %>
  <% sum_fats = 0.0 %>
  <% sum_proteins = 0.0 %>
  <% sum_carbohydrates = 0.0 %>
  <% sum_calories = 0.0 %>
  <% if @order != nil %>
  <% @order.each do |order| %>

      <div class="row orders_dishe">
        <span class="close" title="Удалить">&times;</span>
        <div class='col-md-4'>
          <%= image_tag(order.product.image_url, class: 'image_prod') %>
        </div>
        <div class="col-md-8">
          <div>
            <h2 style = "font-style: italic"> <%= order.product.name %> </h2>
          </div>
          <div>
            <h3>Ингредиенты</h3>
            <p style = "font-style: italic">
              <%= order.product.ingredients %>
            <p>
          </div>
          <div class="row">
             <div class="col-md-4">
              <h5 class="text-center">Цена</h5>
              <p class="text-center" ><%= order.product.price %> руб.</p>
            </div>
            <div class="col-md-4">
              <h5 class="text-center">Количество</h5>
              <p class="text-center"><%= order.amount %></p>
            </div>
            <div class="col-md-4">
              <h4 class="text-center">Итоговая сумма:</h4>
              <h4 class="text-center"><%= sum_one = order.product.price * order.amount %>
                руб.</h4>
            </div>
          </div>


          <div class="col-xs-6 buy text-center buy7">
            <br>
            <br>
            <%= link_to 'Просмотреть', product_comments_path(order.product.id) %>
          </div>
<!--          <div class="col-xs-3 buy2">-->
<!--            <br>-->
            <%# if user_signed_in? %>
                <%#= link_to 'Удалить', order_path(order), method: :delete, data: {confirm: 'Are you sure?'} %>
                <%# else %>
            <%#= link_to 'Удалить', order_path(order.product.id), method: :delete, data: {confirm: 'Are you sure?'} %>
            <%#end %>
<!--          </div>-->
          <% sum += sum_one %>
          <% sum_proteins += order.product.proteins*order.amount %>
          <% sum_fats += order.product.grease*order.amount %>
          <% sum_calories += order.product.calories*order.amount %>
          <% sum_carbohydrates += order.product.carbohydrates*order.amount %>
        </div>
      </div>
      <hr>
  <% end %>
  <%end %>
  <div class="row rezalt">
    <div class="col-md-3">
      <h3>Белков</h3>
      <p><%= sum_proteins %> г.</p>
    </div>
    <div class="col-md-3">
      <h3>Жиров</h3>
      <p><%= sum_fats %> г.</p>
    </div>
    <div class="col-md-3">
      <h3>Углеводов</h3>
      <p><%= sum_carbohydrates %> г.</p>
    </div>
    <div class="col-md-3">
      <h3>Колорий</h3>
      <p><%= sum_calories %> г.</p>
    </div>
  </div>
  <div class="row rezalt">
    <div class="col-md-offset-8 col-md-4 ">
     <h2>Стоимость</h2>
      <p><%= sum %> руб.</p>
    </div>
  </div>

    <% if @order != nil %>
    <div class="col-md-offset-5 col-md-2">
      <%= link_to 'Заказать', new_customer_path, :class => 'btn btn-warning' %>
    </div>
    <%end%>
  </div>
</div>