<div id="fh5co-type" class="forms">

  <div class="container" >
    <div class="row">
    <div class="col-md-offset-4 col-md-4">
    <%= simple_form_for [@category, @product] do |f| %>
        <p>
          <%= f.file_field :image %>
        </p>

        <p>
          <%= f.input :name, as: :text, input_html: { class: 'input text' },  label_html: { class: 'label' } %>
        </p>


        <p>
          <%= f.input :ingredients, as: :text, input_html: { class: 'input' },  label_html: { class: 'label' } %>
        </p>

        <p>
          <%= f.input :weight,  input_html: { class: 'input' },  label_html: { class: 'label' } %>
        </p>

        <p>
          <%= f.input :proteins, input_html: {class: 'input'}, label_html: {class: 'label'} %>
        </p>

        <p>
          <%= f.input :grease, input_html: {class: 'input'}, label_html: {class: 'label'} %>
        </p>

        <p>
          <%= f.input :calories, input_html: { class: 'input' },  label_html: { class: 'label' } %>
        </p>

        <p>
          <%= f.input :carbohydrates, input_html: {class: 'input'}, label_html: {class: 'label'} %>
        </p>

<!--        <p>-->
          <%#= f.input :vegan, input_html: {class: 'input'}, label_html: {class: 'label'} %>
<!--        </p>-->

        <p>
          <%= f.input :price, input_html: { class: 'input' },  label_html: { class: 'label' } %>
        </p>

        <p class="text-center">
          <%= f.submit 'Save', :class => 'btn btn-warning' %>
        </p>
    <% end %>
    </div>
    </div>
  </div>
<div>