<h1>Listing articles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.ingredients %></td>
        <td><%= product.description %>
        <td><%= product.weight %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product_path(product) %></td>
        <td><%= link_to 'Update', products_url(product) %></td>
        <td><%= link_to 'Destroy', products_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
      <tr>
        <td></td>
      </tr>
  <% end %>
  <%= link_to 'New product', new_product_url %>
</table>

