<!DOCTYPE html>
<html>
<head>
  <title>EatMe</title>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'home', media: 'all' %>
  <%= stylesheet_link_tag 'orders', media: 'all' %>
  <%= stylesheet_link_tag 'comments', media: 'all' %>
  <%= stylesheet_link_tag 'histories', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>
<body >
  <header>
  <%= render partial: 'layouts/header' %>
  </header>
  <div class='container fon'>
    <%= yield %>
  </div>

  <%= render partial: 'layouts/footer' %>

</body>
</html>
